@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@900;700&family=Montserrat:wght@300&display=swap");
body {
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
}
.outer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.inner-box {
  height: 630px;
  width: 580px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 3px gray;
  display: block;
  padding: 10px;
}

.row-1 {
  display: flex;
  padding: 0px;
  justify-content: space-between;
}

.x {
  font-size: 20px;
  padding: 5px 7px !important;
  font-family: sans-serif;
  font-weight: 400;
  transition: 0.5s;
  border-radius: 50%;
  cursor: pointer;
}
.x:hover {
  background-color: lightgray;
}

.steps {
  position: relative;
  left: -420px;
  top: 5px;
  font-family: "Merienda", cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.row-2 {
  position: relative;
  left: 65px;
  top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 600px;
}

.create {
  font-family: "Merienda", cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.caps {
  font-size: 35px;
}

.input-container {
  display: block !important;
}

.checkbox {
  height: 18px;
  width: 18px;
  border: 3px solid lightgray;
  position: relative;
  left: 440px;
  top: -54px;
}

.row-3 {
  position: relative;
  left: 65px;
  top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 600px;
}

.date-of-birth {
  font-family: "Merienda", cursive;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 30px !important;
}

.sub-heading {
  width: 430px;
  font-family: "Merienda", cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  position: relative;
  top: 30px;
  font-weight: 900;
}

.para {
  width: 430px;
  position: relative;
  top: 13px;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;

  text-align: justify;
  line-height: 20px;
  color: rgb(71, 71, 71);
}

.content {
  width: 430px;
  position: relative;
  top: 30px;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  text-align: justify;
  line-height: 20px;
  color: rgb(83, 100, 113);
  font-size: 15px;
}

.link {
  color: rgb(29, 155, 240);
  width: 430px;
  font-family: "Merienda", cursive;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  font-size: 15px;
}

.calander-inner {
  display: flex;
}

.row-4 {
  position: relative;
  left: 65px;
  top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 600px;
}

.btn-container {
  display: flex;
  justify-content: left;
  align-items: left;
  position: relative;
  top: 70px;
  width: 450px;
}

.next-btn {
  width: 100%;
  padding: 17px 12px;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  background-color: black;
  color: white;
  font-family: "Merienda", cursive;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: -224px;
}
